Sesion08/NorthWindRepo-master_03_05_2015_WCF/NorthWindRepo-master/NorthWind.Win/Service References/IISService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NorthWind.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NorthWind.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/WCF/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="ArrayOfTbClienteBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TbClienteBE" nillable="true" type="tns:TbClienteBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTbClienteBE" nillable="true" type="tns:ArrayOfTbClienteBE" />
  <xs:complexType name="TbClienteBE">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System" base="q1:EventArgs">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodCliente" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Ruc" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TbClienteBE" nillable="true" type="tns:TbClienteBE" />
  <xs:complexType name="ArrayOfTbProductoBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TbProductoBE" nillable="true" type="tns:TbProductoBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTbProductoBE" nillable="true" type="tns:ArrayOfTbProductoBE" />
  <xs:complexType name="TbProductoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precio" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TbProductoBE" nillable="true" type="tns:TbProductoBE" />
</xs:schema>