Sesion5/EjemploWCF/Client/Service References/Proxy/ProductsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="TCP_EndPoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/productservice?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/productservice?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/productservice?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProductsService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductsService_GetProductsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsList" />
  </wsdl:message>
  <wsdl:message name="IProductsService_GetProductsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsListResponse" />
  </wsdl:message>
  <wsdl:message name="IProductsService_GetProductByCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductByCategory" />
  </wsdl:message>
  <wsdl:message name="IProductsService_GetProductByCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductByCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IProductsService_GetProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProduct" />
  </wsdl:message>
  <wsdl:message name="IProductsService_GetProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProductsService_GetStockLevel_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStockLevel" />
  </wsdl:message>
  <wsdl:message name="IProductsService_GetStockLevel_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStockLevelResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductsService">
    <wsdl:operation name="GetProductsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductsService/GetProductsList" message="tns:IProductsService_GetProductsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductsService/GetProductsListResponse" message="tns:IProductsService_GetProductsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductByCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductsService/GetProductByCategory" message="tns:IProductsService_GetProductByCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductsService/GetProductByCategoryResponse" message="tns:IProductsService_GetProductByCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductsService/GetProduct" message="tns:IProductsService_GetProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductsService/GetProductResponse" message="tns:IProductsService_GetProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStockLevel">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductsService/GetStockLevel" message="tns:IProductsService_GetStockLevel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductsService/GetStockLevelResponse" message="tns:IProductsService_GetStockLevel_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HTTP_EndPoint" type="tns:IProductsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProductsList">
      <soap:operation soapAction="http://tempuri.org/IProductsService/GetProductsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductByCategory">
      <soap:operation soapAction="http://tempuri.org/IProductsService/GetProductByCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProduct">
      <soap:operation soapAction="http://tempuri.org/IProductsService/GetProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockLevel">
      <soap:operation soapAction="http://tempuri.org/IProductsService/GetStockLevel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TCP_EndPoint" type="tns:IProductsService">
    <wsp:PolicyReference URI="#TCP_EndPoint_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetProductsList">
      <soap12:operation soapAction="http://tempuri.org/IProductsService/GetProductsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductByCategory">
      <soap12:operation soapAction="http://tempuri.org/IProductsService/GetProductByCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProduct">
      <soap12:operation soapAction="http://tempuri.org/IProductsService/GetProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockLevel">
      <soap12:operation soapAction="http://tempuri.org/IProductsService/GetStockLevel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductsService">
    <wsdl:port name="HTTP_EndPoint" binding="tns:HTTP_EndPoint">
      <soap:address location="http://localhost:8080/productservice" />
    </wsdl:port>
    <wsdl:port name="TCP_EndPoint" binding="tns:TCP_EndPoint">
      <soap12:address location="net.tcp://localhost:8081/productservice" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/productservice</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>CINST-102SO\Profesor</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>